body {
    overflow: hidden;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#GameContainer {
    display: grid;
    grid-template-columns: repeat(15, 30px);
    grid-template-rows: repeat(15, 30px);
    gap: 5px;
    border: 1px solid black;
    width: 520px;
}

.Fill {
    background: rgba(255, 0, 0, 0.3);
}


#AvailableBlocks {
    height: 400px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

#A1, #A2, #A3 {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 30px);
    width: 100px;
    height: 100px;
    gap: 5px;
}

#AvailableBlocks div {
    border: 0 !important;
}

.marked {
    background: red;
}

#VisualTimeAdd {
    color: green;
}

.ghost {
    outline: 2px dashed black;
    opacity: 0.4;
}

#VisualPointsAddIndicator {
    color: green;
}

#MotivationScreen {
    position: absolute;
    width: 520px;
    height: 520px;
}

#MotivationScreenText {
    background: red;
}

#Enemy {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    background-image: url('EnemySprite/idle.png');
    background-size: 1000px 200px;
    background-position: 0 0;
    image-rendering: pixelated;
}

#EnemyHealt {
    position: absolute;
    width: 200px;
    height: 20px;
    text-align: center;
    border: 1px solid black;
}

#PlayerDefenseScreen {
    display: none;
    width: 520px;
    height: 520px;
    background-color: antiquewhite;
    position: relative;
}

#Player {
    width: 32px;
    height: 32px;
    background: url('heart.png');
    background-size: 32px 32px;
    position: absolute;
    image-rendering: pixelated;
    border: 1px solid black;
}

.Obstacles {
    position: absolute;
    width: 20px;
    height: 520px;
    transition: all 5s linear;
}

.ObstaclesWalls {
    position: absolute;
    width: 20px;
    border: 1px solid black;
}

td {
    width: 200px;
    text-align: center;
}

#PlayerHPBar {
    position: relative;
    width: 200px;
    border: 1px solid black;
    left: 50%;
    transform: translate(-50%);
    background: white;
    z-index: 1;
}

#SpeechBubble {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
    width: 98vw;
    height: 300px;
    background: white;
    border: 1px solid black;
}

#EnemyIcon {
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    background-image: url('EnemySprite/idle.png');
    background-size: 1500px 300px;
    image-rendering: pixelated;
    border-right: 1px solid black;
}

@font-face {
    font-family: BleedingPixels;
    src: url('BleedingPixels.ttf');;
}

#EnemyText {
    padding: 20px;
    font-size: 32px;
}

#SkipInfo {
    position: absolute;
    padding: 10px;
    bottom: 0;
    font-size: 24px;
}