#GameContainer {
    display: grid;
    grid-template-columns: repeat(15, 30px);
    grid-template-rows: repeat(15, 30px);
    gap: 5px;
    border: 1px solid black;
    width: 520px;
}

.Fill {
    background: rgba(255, 0, 0, 0.3);
}


#AvailableBlocks {
    width: 400px;
    gap: 30px;
    display: flex;
}

#A1, #A2, #A3 {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 30px);
    width: 100px;
    height: 100px;
    gap: 5px;
}

#AvailableBlocks div {
    border: 0 !important;
}

.marked {
    background: red;
}

#VisualTimeAdd {
    color: green;
}