#GameContainer {
    display: grid;
    grid-template-columns: repeat(15, 30px);
    grid-template-rows: repeat(15, 30px);
    gap: 5px;
    border: 1px solid black;
    width: 520px;
}

.Fill {
    background: rgba(255, 0, 0, 0.3);
}


#AvailableBlocks {
    width: 300px;
    height: 300px;
}

#A1 {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 30px);
    width: 100px;
    height: 100px;
    gap: 5px;
}